/* MONO */

*{
    padding: 0px;
    margin: 0px;
} /* set padding and margin to 0 as default */

body {
    background: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* makes sure comic is centered in entire screen */
    width: 100vw;
}

.page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0);
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100%;
    width: 100%;
}

.col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100%;
    width: 100%;
}

.panel {
    border-style: solid;
    border-color: black;
    background-color: white;
    position: relative;
    margin: 3vmin;
}

.img {
    width: 100%;
    height: 100%;
}

.text {
    position: absolute;
    text-align: center;

    border-style: solid;
    border-color: black;
    color: black;
    background-color: white;

    font-family:"Comic Sans MS", "Comic Sans";

    padding: 2vmin;
}

.title {
    position: relative;
    border: 0;
    font-size-adjust: 0.8;
    font-family: monospace;
    padding: 4vmin;
}

.inv {
    border-color: white;
    background-color: black;
    color: white;
}

@media screen and (max-width: 177vmin) { /* aspect ratio LESS WIDE than 16/9 */
    .page {
        height: 56vw; /* 9/16 * 100 */
        width: 100vw;
    }

    .text {
        font-size: 1.5vw;
    }
}

@media screen and (min-width: 177vmin) { /* aspect ratio MORE WIDE than 16/9 */
    .page {
        height: 100vh;
        width: 178vh; /* 16/9 * 100 */
    }

    .text {
        font-size: 2vh;
    }
}

/* MOVING STUFF */

.hidden {
    opacity: 0;
}